.card{
    border-radius: .5rem;
    background-color: var(--bg-light);
    height: 100%;
    width: 100%;
    position: static;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-y: auto;
}