.tasks{
    height: 90%;
    width: 90%;
    // background-color: white;
    
    color: var(--accent-dark);
    overflow-y: auto;
    >ul{
        list-style-type: none;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        
        >h2{
            margin-bottom: 2rem;
            font-weight: bolder;
            text-transform: uppercase;
        }
        >li{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 1rem 0;
            border-top: 2px solid var(--bg);
            &:hover{
                cursor: pointer;
                box-shadow:
                    inset 0px 2px 2px -2px rgba(0,0,0,0.5),
                    inset 0px -2px 2px -2px rgba(0,0,0,0.5);
            }
        }
    }
}

.categories{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: bolder;
    text-transform: uppercase;
    margin-bottom: 1rem;
    font-size: 0.8rem;
    >p:first-of-type{
        margin-left: 2rem;
    }
    >p:last-of-type{
        margin-right: 2rem;
    }
}